<nav class="size1">
    <div class="container_logo">
        <picture draggable="false">
            <!-- <source type="image/webp" data-srcset="./assets/UI/Logo_Controler_HD.webp"> -->
            <img class="img_logo" src="./assets/UI/Logo_Controler_HD.webp" alt="logo">
        </picture>
        <div class="Option" (click)="Inicio()">
            <span class="Font_Option" (click)="Inicio()">
                Inicio
            </span>
        </div>
        <div class="Option" (click)="Tutorial()">
            <span class="Font_Option" (click)="Tutorial()">
                Tutorial
            </span>
        </div>
        <div class="Option" (click)="Configuracion()">
            <span class="Font_Option" (click)="Configuracion()">
                Contacto
            </span>
        </div>
    </div>
</nav>
<!-- ******************************************************************************************* -->
<nav class="size2">
    <div class="container_logo">
        <div class="container_menu_icon">
            <img class="image_size1" src="./assets/UI/menu.png"  alt="menu" (click)="disployMenu()">
        </div>
        <picture draggable="false">
            <img class="img_logo" src="./assets/UI/Logo_Controler_HD.webp"  alt="logo">
        </picture>
    </div>
  
</nav>