<app-menu (eventEmitter)="MenuOpcion($event)" (isDisployMenu)="DisployMenu($event)"></app-menu>
<div class="container_primario">
    <div class="container_title">
        <span class="Title">Tutorial</span>
    </div>
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png">
        </div>

        <div class="container_description">
            <span class="Subtitle">Menu de Opciones</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/MenuOpciones.png">
    </div>
    <div class="container_information">
        <span class="information">
            Este es el menu de rutas de la pagina, por aqui pudes acceder a las rutas que necesites.
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png">
        </div>

        <div class="container_description">
            <span class="Subtitle">Vista de los Sensores</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/Sensores.png">
    </div>
    <div class="container_information">
        <span class="information">
            En esta seccion puedes observar los sensores donde se muestra los datos historicos de temperatura así como
            el dato actual, dato minimo y dato maximo;
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png">
        </div>

        <div class="container_description">
            <span class="Subtitle">Opciones</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/Opciones.png">
    </div>
    <div class="container_information">
        <span class="information">
            Las opciones que se encuentran el parte derecha de la página web, te ayudaran a organizar mejor la información que requieres así como visualizarlas de una manera diferente.
        </span>
    </div>
    <!--**********************************-->
</div>