<app-menu (eventEmitter)="MenuOpcion($event)" (isDisployMenu)="DisployMenu($event)"></app-menu>
<div class="container_primario">
         <!-- ****Menu para responsive***** -->
         <div class="container_menu_show" *ngIf="isOpenMenuResponsive == true">
            <div class="container_fontMenu" (click)="MenuOpcion('inicio')"><span class="fontMenu">Inicio</span></div>
            <div class="container_fontMenu" (click)="MenuOpcion('contacto')"><span class="fontMenu">Contacto</span></div>
        </div>
        <div class="container_menu_hide" *ngIf="isOpenMenuResponsive == false">
            <div class="container_fontMenu"><span class="fontMenu">Inicio</span></div>
            <!-- <div class="container_fontMenu"><span class="fontMenu">Tutorial</span></div> -->
            <div class="container_fontMenu"><span class="fontMenu">Contacto</span></div>
        </div>
        <!-- ********* -->
    <div class="container_title">
        <span class="Title">Tutorial</span>
    </div>
  

    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Vista de los Sensores</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/Sensores.png" alt="Imagen_Sector_Sensores">
    </div>
    <div class="container_information">
        <span class="information">
            En esta sección puedes observar los sensores donde se muestra los datos históricos de temperatura así como
            el dato actual, dato mínimo y dato máximo;
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Opciones</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/Opciones.png" alt="Imagen_Opciones_Menu">
    </div>
    <div class="container_information">
        <span class="information">
            Las opciones que se encuentran en la parte derecha de la página web, te ayudaran a organizar mejor la
            información que requieres así como visualizarlas de una manera diferente.
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Seleccion de sensor</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/SeleccionarSensor.png" alt="Imagen_Select_Sensor">
    </div>
    <div class="container_information">
        <span class="information">
            Una vez hagas clic en la lista desplegable, puedes ver los 8 sensores disponibles, selecciona el sensor del
            cual quieras saber la información.
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Modifica el dato de advertencia</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/EditarValor.png" alt="Imagen_Editar_Alarma">
    </div>
    <div class="container_information">
        <span class="information">
            Este valor es una medida de protección para los sensores, si el valor actual supera este valor se dispara
            una advertencia que se encargara de enviar un correo electrónico notificando lo que sucede al encargado.

            El valor se puede modificar haciendo un clic en el icono de editar que se encuentra en la parte derecha del
            bloque.
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Ocultar datos</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/VerDatos.png" alt="Imagen_Checkbox_Seleccionar_Datos_Ver">
    </div>
    <div class="container_information">
        <span class="information">
            En caso de que solo se quieran observar ciertos valores tienes la posibilidad de seleccionar los datos que
            quieres ver en la sección de gráficas.
        </span>
    </div>
    <!--**********************************-->
    <!--**********************************-->
    <div class="container_subtitle">
        <div class="container_icon">
            <img class="Icono" src="./assets/UI/selector.png" alt="Imagen_Selector">
        </div>

        <div class="container_description">
            <span class="Subtitle">Descargar datos</span>
        </div>
    </div>
    <div class="container_img">
        <img class="img" src="./assets/Tutorial/DescargarDatos.png" alt="Imagen_Descargar_Datos_Excel">
    </div>
    <div class="container_information">
        <span class="information">
            Tienes la opción de descargar los datos en formato Excel, se mostrarán todos los datos recopilados del
            sensor que seleccionaste.
        </span>
    </div>
    <!--**********************************-->
</div>