<app-menu (eventEmitter)="MenuOpcion($event)" (isDisployMenu)="DisployMenu($event)"></app-menu>
<div class="container_body">
    <!-- Seccion de la parte izquierda -->
    <div class="Section1" [style.height.px]="Height">
        <div class="name_sensor_container">
            <span class="Title">{{Name_Sensor}}</span>
        </div>
        <div class="container_Graph_Line_Father" *ngIf="Line">
            <div class="container_Graph_Line_Child">
                <!--Canvas Grafica Line-->
              
        <canvas baseChart class="LineChart"
            [datasets]="lineChartData" [options]="lineChartOptions" [labels]="barChartLabels" [legend]="lineChartLegend"
            [plugins]="lineChartPlugins" [type]="typeGraphic" draggable="true">
        </canvas>
    
            </div>
        </div>   
 
        <div class="container_information_progressBar">
            <div class="container_progressBar" *ngIf="Radio"  #RadialChart>
                <!--Canvas Grafica Radio-->
                <apx-chart #chart 
                [style.width.px]="WidthRadialGraph" [style.height.px]="HeightRadialGraph"
                class="radial_chart"
                [series]="series2"
                [chart]="chartRadialBar" 
                [labels]="labels"
                [plotOptions]="plotOptions"
                [fill] = "fill"           
                ></apx-chart>  
            </div>
            <div class="container_information" *ngIf="Data">
                <span class="Information"> Max: {{Max}} </span>
                <span class="Information"> Actual: {{Now}} </span>
                <span class="Information"> Min: {{Min}}</span>
            </div>
        </div>
        <div class="Container_Normal_ProgressBar">

        </div>
    </div>
    <!-- Seccion de la parte derecha -->
    <div class="Section2" [style.height.px]="Height">
        <div class="name_sensor_container">
            <span class="Title">Opciones</span>
        </div>
        <div class="container_center">
            <div class="Container_Subtitle">
                <span class="Subtitle">Selecciona Sensor</span>
            </div>
        </div>
        <div class="container_center">
            <select #SelectSensorElement (change)="SelectSensor(SelectSensorElement.value)">
                <option class="Option2">Sensor 1</option>
                <option class="Option2">Sensor 2</option>
                <option class="Option2">Sensor 3</option>
                <option class="Option2">Sensor 4</option>
                <option class="Option2">Sensor 5</option>
                <option class="Option2">Sensor 6</option>
                <option class="Option2">Sensor 7</option>
                <option class="Option2">Sensor 8</option>
            </select>
        </div>
        <div class="line"></div>
        <div class="container_center">
            <div class="Container_Subtitle">
                <span class="Subtitle">Alarma</span>
            </div>
        </div>
        <div class="container_center">
            <div class="object_alarm">
                <div class="object_alarm_subcontainer">
                    <span class="font_alarma1">
                        Para: {{Name_Sensor}}
                    </span>
                </div>
                <div class="object_alarm_subcontainer">
                    <span class="font_alarma2">
                        Dato de Advertencia: {{valorAdvertencia}}
                    </span>
                </div>
                <div class="object_alarm_subcontainer">
                    <div class="container_img_alarm">
                        <img src="./assets/UI/editar.png" class="Object_img_borrar" alt="Borrar Alarma"
                            (click)="EditarAlarma()">
                    </div>
                </div>
            </div>
        </div>

        <div class="line"></div>
        <div class="container_center">
            <div class="Container_Subtitle">
                <span class="Subtitle">Datos</span>
            </div>
        </div>
        <div class="Checkbox"><input type="checkbox" (change)="CheckBoxEvent(0)" #line>Ver grafica de barras</div>
        <div class="Checkbox"><input type="checkbox" (change)="CheckBoxEvent(1)" #radio>Ver radio bar</div>
        <div class="Checkbox"><input type="checkbox" (change)="CheckBoxEvent(2)" #data>Ver datos</div>
        <div class="line"></div>
        <div class="container_center">
            <div class="Container_Subtitle">
                <span class="Subtitle">Descarga de Datos</span>
            </div>
        </div>
        <!-- Button download Excel file -->
        <!-- <a href="./assets/excel.xls" download>excel</a> -->
        <div class="container_center">
            <div class="Sub_Input" >
                <span class="Information_Black">Descargar</span>
                <div class="In_Input" >
                    <span class="Information">Excel</span>
                </div>
                <div style="position:absolute; width: 100%; height: 100%; top: 0px; left: 0px;" (click)="DownloadExcel()"></div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>