@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*font-family: 'Mukta', sans-serif;*/

* {
    user-select: none;
}
.Ocultar{
    position: absolute;
    left: -45px;
    width:45px;
    height: 100%;
    filter:invert(1);
    background-color: white;
    cursor: pointer;
    transition: all 1s;
}
.Ocultar_Invert{
    position: absolute;
    left: -45px;
    width:45px;
    height: 100%;
    filter:invert(1);
    background-color: white;
    cursor: pointer;
    /* transform: rotate(0deg); */
    transition: all 1s;
}
.container_body {
    width: 100%;
    height: max-content;
    background-color: RGB(72, 73, 77);
    /* estructura */
    display: flex;
    flex-wrap: nowrap;
}

/* Parte izquierda de toda la pantalla donde van ubicadas las graficas y los datos */
.Section1 {
    width: 60%;
    background-color: RGB(72, 73, 77);
    /*estructura*/
    display: block;
}
.Section1Disploy {
    width: 100%;
    background-color: RGB(72, 73, 77);
    /*estructura*/
    top: 80px;
    position:absolute;
    display: block;
}

/* Parte derecja de toda la pantalla donde se pueden crear alarmas y manipular los datos que se ven*/
.Section2 {

    width: 40%;
    background-color: RGB(72, 73, 77);
    opacity: 1;
    /*estructura*/
    display: block;
}
.Section2_Hide{
    width: 37%;
    background-color: RGB(72, 73, 77);
    animation: HideSection2 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*estructura*/
    
}
.Section2_Show{
    margin-left:3%;
    width: 37%;
    background-color: RGB(72, 73, 77);
    animation: ShowSection2 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*estructura*/
}



.name_sensor_container {
    /* primer div dentro de Section1 y que contiene el Nombre del sensor con fuente Title*/
    width: 100%;
    position: relative;
    background-color: black;
    /*estructura*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_sensor_container_title {
    /* primer div dentro de Section1 y que contiene el Nombre del sensor con fuente Title*/
    width: 100%;
    background-color: black;
    /*estructura*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********************LINE CHART(OPEN) *************************/
.LineChart {
    border-radius: 20px 20px 20px 20px;
    border: 0px solid;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: RGB(31, 32, 34);
}

.container_Graph_Line_Father {
    /*segundo contenedor que se encuentra en section 1, cuya funcion es tener un espacio del 100% y centrar 
   otro div de 80%*/
    width: 100%;
    min-height: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    /*estructura*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_Graph_Line_Child {
    /*container que se encuentra dentro de container_Graph_Line_Father y tiene como finalidad
    contener el canvas con la grafica line*/
    width: 80%;
    min-height: 300px;
    background-color: RGB(31, 32, 34);
    border-radius: 15px;
    overflow: hidden;
}

/*********************LINE CHART(CLOSE) *************************/


/*******************RADIAL CHART***********************/
.container_information_progressBar {
    /*Tercer container que se encarga de obtener el 100% de nuevo y contener dos elementos dentro*/
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    /*estructura*/
    display: flex;
    flex-wrap: wrap;
}

.container_progressBar {
    /*Container dentro de container_information_progressBar encargado de contener el progressBar circular*/
    margin-left: 10%;
    width: 40%;
    min-width: 250px;
    max-width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: RGB(31, 32, 34);
    position: relative;

    /*estructura*/
}

.radial_chart {
    /*esta es la clase del apx-charts component que nos sirve para posicionar la grafica de una mejor manera*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    top:30px;
    width: 100%;
    height: 100%;

}

/*******************RADIAL CHART(CLOSE)***********************/



.container_information {
    /*Container que se encarga de contener los datos de la grafica progressBar circular*/
    margin: 50px;
    width: 33%;
    min-width: 150px;
    height: 200px;
    border-radius: 15px;
    background-color: RGB(31, 32, 34);
    /*estructura*/
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;

}

.line {
    /***Linea con width de 100% para separar secciones ***/
    width: 100%;
    margin-top: 10px;
    height: 5px;
    background-color: rgb(134, 134, 134);

}

.Container_Subtitle {
    /*Contenedor que se encuentra en Section 2 y se encarga de mantener los Subtitulos. Dentro lleva un span con clase Subtitle*/
    width: 100%;
    border-radius: 5px;
    margin: 1px;
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(121, 121, 121); */
    background-color: #35363a;
}


select {
    /* Estilos para los tags Select */
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* border: 1px solid rgb(144, 144, 144); */
    width: 80%;
    height: 50px;
    font-size: calc(8px + .4vw);
    background-color: #407893;
    border:none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
select:focus{
    outline: none;
    border: 2px solid white;
}
select:hover {
    /* Estilos para los tags Select */
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    font-size: calc(8px + .4vw);
    background-color: #407893;
    border:none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.Option2:hover {
    cursor: pointer;
}

.container_center {
    width: 100%;
    /*****Estructura******/
    display: flex;
    justify-content: center;
}

/************OBJETO DE ALARMA (START) *****************/
/*****/
.object_alarm {
    /*****/
    display: grid;
    /*****/
    /*****/
    justify-content: center;
    /*****/
    align-items: center;
    /*****/
    width: 80%;
    /*****/
    height: 50px;
    /*****/
    margin-left: 2px;
    /*****/
    margin-top: 10px;
    /*****/
    margin-bottom: 10px;
    /*****/
    background-color: #407893;
    /*****/
    border-radius: 5px;
    /*****/
    /* border: 1px solid rgb(144, 144, 144); */
    /*****/
}

/*****/
/*****/
.object_alarm:hover {
    /*****/
    display: grid;
    /*****/
    /*****/
    justify-content: center;
    /*****/
    align-items: center;
    /*****/
    width: 80%;
    /*****/
    height: 50px;
    /*****/
    margin-left: 2px;
    /*****/
    margin-top: 10px;
    /*****/
    margin-bottom: 10px;
    /*****/
    background-color: #407893;
    /*****/
    border-radius: 5px;
    /*****/
    /* border: 1px solid rgb(144, 144, 144); */
    /*****/
}

/*****/
.object_alarm_create {
    /*****/
    /* Bloque de alarma que se encuentra en la Section 2*/
    /*****/
    overflow: scroll;
    /*****/
    display: flex;
    /*****/
    width: 90%;
    /*****/
    height: 400px;
    /*****/
    margin-left: 2px;
    /*****/
    margin-top: 10px;
    /*****/
    margin-bottom: 0px;
    /*****/
    background-color: rgb(18, 18, 18);
    /*****/
    border-radius: 5px;
    /*****/
    border: 1px solid rgb(144, 144, 144);
    /*****/
}

/*****/
.object_alarm_create:hover {
    /*****/
    background-color: rgb(49, 49, 49);
    /*****/
}

/*****/
.object_alarm_subcontainer {
    /*****/
    /* Div que se encuentra dentro delo object_alarma_create */
    /*****/
    width: 100%;
    height: 50px;
    /*****/
    display: flex;
    /*****/
    justify-content: center;
    /*****/
    align-items: center;
    /*****/
}

/*****/
.Object_img_borrar {
    /*****/
    /*Imagen dentro de object_alarm_subcontainer*/
    /*****/
    width: 35%;
    /*****/
    height: 35%;
    /*****/
    filter: invert(0.7);
    /*****/
    transition: all 0.5s;
    /*****/
}

/*****/
.container_img_alarm:hover .Object_img_borrar {
    /*****/
    cursor: pointer;
    /*****/
    filter: invert(1);
    /*****/
    transition: all 0.5s;
    /*****/
}

/************OBJETO DE ALARMA (CLOSE) *****************/

/************OBJECTO DE BOTON DESCARGAR EXCEL (OPEN) ************************/
.Sub_Input {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px 50px;
    overflow: hidden;
    cursor: pointer;
}

.In_Input {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10783f;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 1s all;
    cursor: pointer;
}

.Sub_Input:hover .In_Input {
    animation: slideRightExcelButton 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.In_Input:hover {
    animation: slideRightExcelButton 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

@keyframes slideRightExcelButton {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.container_menu_show {
    display: none;
}

.container_menu_hide {
    display: none;
}

/************OBJECTO DE BOTON DESCARGAR EXCEL (CLOSE) ************************/

/***************************FUENTES*****************************/
.Title {
    font-family: 'Mukta', sans-serif;
    font-size: calc(12px + 1vw);
    color: white;
    font-weight: bold;
}

.Information {
    font-family: 'Mukta', sans-serif;
    font-size: calc(8px + .6vw);
    color: white;
    font-weight: bold;
    
}

.Information_Black {
    font-family: 'Mukta', sans-serif;
    font-size: calc(10px + .9vw);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.Checkbox {
    color: rgb(81, 158, 235);
    font-family: 'PT Sans', sans-serif;
    font-size: calc(10px + .5vw);
    font-weight: 500;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 5px;
    display:flex;
    align-items: center;
    z-index: 2;
}

.checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
}

.checkbox:checked{
    color:white;
    background-color:#10783f;
}

  
.Subtitle {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Mukta', sans-serif;
    font-size: calc(10px + 1vw);
}

/****ALARMA******/
.font_alarma1 {
    margin-left: 10px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(8px + .4vw);

    width: 100%;
}

.font_alarma2 {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(8px + .4vw);

}
.triangulo{
    width: 5vw;
    height: 5vw;
    max-width: 40px;
    max-height: 40px;
    min-width: 20px;
    min-height: 20px;
    filter: invert(0.8);
}


/**************************RESPONSIVE******************************/
@media (max-width: 700px) {
    .Section1 {
        /*estructura*/
        display: none;
    }
    .Ocultar{
        display:none;
    }
    /***************************FUENTES*****************************/
    

select {
    /* Estilos para los tags Select */
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(144, 144, 144);
    width: 80%;
    height: 50px;
    font-size: calc(12px + .4vw);
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

select:hover {
    /* Estilos para los tags Select */
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    font-size: calc(12px + .4vw);
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.Title {
    font-family: 'Mukta', sans-serif;
    font-size: calc(12px + 2vw);
    color: white;
    font-weight: bold;
}

.Information {
    font-family: 'Mukta', sans-serif;
    font-size: calc(10px + 1vw);
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.Information_Black {
    font-family: 'Mukta', sans-serif;
    font-size: calc(12px + 1.5vw);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.Subtitle {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: calc(12px + 1.5vw);
}
/****ALARMA******/
.font_alarma1 {
    margin-left: 10px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(12px + 1vw);

    width: 100%;
}

.font_alarma2 {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(12px + 1vw);

}


    /********* Menu en modo responsive ***********/
    .container_menu_show {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0px;
        animation: 0.5s show;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index: 300;
    }

    .container_menu_hide {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0px;
        animation: 0.5s hide;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index: 300;
    }

    .fontMenu {
        font-family: 'PT Sans', sans-serif;
        padding-left: 20px;
        position: relative;
        color: white;
        font-weight: bold;
        font-size: calc(12px + 1.5vw);
    }

    .container_fontMenu {
        padding: 20px;
        width: 100%;
        background-color: rgba(83, 83, 83, 0.895);
    }

    .container_fontMenu:hover {
        padding: 20px;
        width: 100%;
        background-color: rgba(164, 164, 164, 0.895);
    }

    .Checkbox {
        color: rgb(100, 170, 239);
        font-family: 'PT Sans', sans-serif;
        font-size: calc(12px + .9vw);
        margin-top: 5px;
        font-size: calc(10px + .5vw);
        font-weight: 500;
        margin-left: 50px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .Checkbox_Text{
        color: rgb(60, 124, 187);
        font-family: 'PT Sans', sans-serif;
        font-size: calc(12px + .9vw);
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 32px;
        height: 32px;
        background-color: black;
        border-radius: 50%;
        -webkit-box-shadow: 3px 0 3px 0 rgba(174, 14, 14, 0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    }
    .checkbox:checked{
        background-color:#10783f;
    }

/***************************************************************/

.Section2 {
    width: 100%;
    background-color: rgb(35, 35, 35);
    margin:0;
    /*estructura*/
    display: block;
}
/************OBJECTO DE BOTON DESCARGAR EXCEL (OPEN) ************************/
.Sub_Input {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 70px;
    overflow: hidden;
    cursor: pointer;
}

.In_Input {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10783f;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 1s all;
    cursor: pointer;
}

.Sub_Input:hover .In_Input {
    animation: slideRightExcelButton 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.In_Input:hover {
    animation: slideRightExcelButton 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
}

/* **************ANIMACIONES*************** */
@keyframes show {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
        z-index: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
        z-index: 300;
    }
}

@keyframes hide {
    0% {
        transform: translateX(0%);
        opacity: 1;
        z-index: 300;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        z-index: 0;
    }
}

@keyframes ShowSection2 {
    0% {
        transform: translateX(100%);
        z-index: 0;
        right: 0%;

        display:none;
    }

    100% {
        transform: translateX(0%);
        display:flex;
        right: 35%;
        z-index: 300;
    }
}

@keyframes  HideSection2 {
    0% {
        transform: translateX(0%);
        
        z-index: 300;
    }

    100% {
        transform: translateX(100%);
        position: absolute;
        right: 0%;

        z-index: 0;
    }
}